.app {
  margin-top: 8rem;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.error,
.loader {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
}

.error span {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}
