.app {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 8rem;
}

.loader {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
}
