img {
  max-width: 250px;
}

p {
  line-height: 1.3rem;
}

span {
  color: var(--accent-yellow);
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.description {
  font-weight: bold;
  max-width: 200px;
  margin: 0 auto;
  text-align: left;
}
